body {
    background-color: antiquewhite;
    color: black;
}

table {

    /* border: 1px solid black; */
    width: 50%;
    background-color: aqua;
}

th,
td,
table {

    border: 1px solid black;
}

th {
    padding: 5px 0;
    text-align: center;
}

td {
    padding: 5px 0;
    text-align: center;
}

tr th {
    color: rgb(24, 27, 24);
    font-size: 25px;

}
