img {
    padding: 10px 15px;
    margin: 0;
}

.divider {
    /* padding: ; */
    margin-bottom: 5px;
    height: 2px;
    background-color: black;
    border: solid 1px black;
}

.section-three img {
    width: 50%;
    margin: 0;
}

h4 a {
    display: block;
    text-align: center;
}

body {
    background-color: black;
    color: white;

}

*:not(img)::selection {
    background-color: aqua;
    color: black;
}

img::selection {
    background-color: none;
    /* this will ignore the selction of an emage  */
}